inputs/
inputs
inputs_*/
__pycache__/
outputs/
outputs_*/
src/.*
*.ipynb_checkpoints*
.DS_Store
.idea/
.snakemake/
*~
conda_greene/
config-files-split/
config-files_*/
images_singularity/
images_singularity_overlay/
outputs_slurm/
slurm/
